<h1 class="page-header">Dienos pratimai</h1>
<li ng-repeat="uzduotis in diena.diena | filter:query">
    <h1>{{uzduotis.pavadinimas}}</h1>
    <ol ng-repeat="pratimas in uzduotis.pratimai | filter:query">
        <h2>{{pratimas.pratimas}}</h2>
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{pratimas.img}}" height="120px" width="160px">
                <img ng-if="pratimas.img2 != ''" ng-src="{{pratimas.img2}}" height="120px" width="160px">
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-xs-2">
                        Atlikimas:
                    </div>
                    <div class="col-sm-10 col-md-10 col-xs-10">
                        {{pratimas.kartai}}x{{pratimas.kiekis}}
                    </div>
                    <div class="col-sm-2 col-md-2 col-xs-2">
                        Aprašymas:
                    </div>
                    <div class="col-sm-10 col-md-10 col-xs-10">
                        {{pratimas.aprasymas | notnull}}
                    </div>
                </div>
            </div>
        </div>
    </ol>
</li>
